lib/flows/.camera-flows.json.backup
[
    {
        "id": "e583048378e103aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48b8c1b86a590714",
        "type": "camera-server",
        "camlocation": "http://172.17.0.1:5555"
    },
    {
        "id": "425904c32524013a",
        "type": "camera-server",
        "camlocation": "http://127.0.0.1:1880"
    },
    {
        "id": "cd2fe1d9cad7e57e",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "871e617d1fed829a",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "1e6e85594225af9b"
            ]
        ]
    },
    {
        "id": "e7bf9e4d442831a3",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "972ffc632cb89250"
            ]
        ]
    },
    {
        "id": "88941b4b4106906b",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ce911d44d4a63a98"
            ]
        ]
    },
    {
        "id": "972ffc632cb89250",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "ExposureTime",
        "propVal": "7900",
        "access_mode": "Read and Write",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "ce911d44d4a63a98",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "UserSetSave",
        "propVal": "test",
        "access_mode": "Not available",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "1e6e85594225af9b",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "DeviceUserID",
        "propVal": "Camera01",
        "access_mode": "Read and Write",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "814468df4bcfa559",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "37658252febe5c2b",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "9af7e6601d2bcbda"
            ]
        ]
    },
    {
        "id": "56ec6de42227e5e7",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "ExposureTime",
        "propVal": "29850",
        "access_mode": "Read and Write",
        "node_type": "Float",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "69c9b0ea45041360",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "56ec6de42227e5e7",
                "d024f14ad6abd967"
            ]
        ]
    },
    {
        "id": "86c9a3c39dbf01c6",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "425904c32524013a",
        "camId": "142120208749",
        "camProp": "ExposureMode",
        "propVal": "Off",
        "access_mode": "Read and Write",
        "node_type": "Enumerate",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "4b3663b285f2170a",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "86c9a3c39dbf01c6"
            ]
        ]
    },
    {
        "id": "198df66e0c6873c7",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "d024f14ad6abd967"
            ]
        ]
    },
    {
        "id": "d024f14ad6abd967",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142120208749",
        "camProp": "TriggerEventTest",
        "propVal": "[test cmd]",
        "access_mode": "Write Only",
        "node_type": "Command",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "5d16ae27fd2b1294",
        "type": "motion-detection",
        "z": "e583048378e103aa",
        "camId": "",
        "threshold": 0,
        "mask": [
            0,
            0,
            100,
            100
        ],
        "x": 350,
        "y": 800,
        "wires": [
            [
                "814468df4bcfa559",
                "c3eef14b1466fc65"
            ]
        ]
    },
    {
        "id": "96f3bfd76a8b1be0",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "5d16ae27fd2b1294"
            ]
        ]
    },
    {
        "id": "9af7e6601d2bcbda",
        "type": "release-camera",
        "z": "e583048378e103aa",
        "camlocation": "http://172.17.0.1:5555",
        "camId": "142120208749",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "c3eef14b1466fc65",
        "type": "template",
        "z": "e583048378e103aa",
        "name": "Display Image",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img ng-src=\"{{msg.payload.base64}}\" width=\"300\" height=\"200\" alt=\"Remote Image\" />\n\n<img src=\"{{msg.payload.base64}}\" width=\"300\" height=\"200\" alt=\"Remote Image\" />",
        "output": "str",
        "x": 340,
        "y": 860,
        "wires": [
            []
        ]
    }
]