lib/flows/camera-flows.json
[
    {
        "id": "e583048378e103aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "425904c32524013a",
        "type": "camera-server",
        "camlocation": "http://127.0.0.1:1880"
    },
    {
        "id": "48b8c1b86a590714",
        "type": "camera-server",
        "camlocation": "http://172.17.0.1:5555"
    },
    {
        "id": "cfc5bba0e14882c9",
        "type": "http request",
        "z": "e583048378e103aa",
        "name": "List Cameras",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.17.0.1:5555/api/vision/vision/cameras",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "360d68bf5cb74e80"
            ]
        ]
    },
    {
        "id": "16325bd41334fa7d",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac06bcc66037e711",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "cfc5bba0e14882c9"
            ]
        ]
    },
    {
        "id": "360d68bf5cb74e80",
        "type": "json",
        "z": "e583048378e103aa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "16325bd41334fa7d"
            ]
        ]
    },
    {
        "id": "af38eff819915b90",
        "type": "http request",
        "z": "e583048378e103aa",
        "name": "Camera Config List",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.17.0.1:5555/api/vision/vision/configTree/142121710143",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "48af1cfbc885cd77"
            ]
        ]
    },
    {
        "id": "8b348b979914d36f",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "af38eff819915b90"
            ]
        ]
    },
    {
        "id": "48af1cfbc885cd77",
        "type": "json",
        "z": "e583048378e103aa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "738bb8ec231dff6b"
            ]
        ]
    },
    {
        "id": "738bb8ec231dff6b",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ddcfc05db778bfc",
        "type": "http request",
        "z": "e583048378e103aa",
        "name": "Release Single Camera",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.17.0.1:5555/api/vision/vision/release/142121710143",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "2f4d4bf455043661"
            ]
        ]
    },
    {
        "id": "9761744557772628",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "2ddcfc05db778bfc"
            ]
        ]
    },
    {
        "id": "054d985bd452b6d5",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f4d4bf455043661",
        "type": "json",
        "z": "e583048378e103aa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "054d985bd452b6d5"
            ]
        ]
    },
    {
        "id": "355d49faeb81cb91",
        "type": "http request",
        "z": "e583048378e103aa",
        "name": "Update Camera Resolution",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.17.0.1:5555/api/vision/vision/resolution/142121710143/640/480",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "bbe8ebd4e7727f43"
            ]
        ]
    },
    {
        "id": "85cbef71f22e860f",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "355d49faeb81cb91"
            ]
        ]
    },
    {
        "id": "17e650abb383392a",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "bbe8ebd4e7727f43",
        "type": "json",
        "z": "e583048378e103aa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "17e650abb383392a"
            ]
        ]
    },
    {
        "id": "cd2fe1d9cad7e57e",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "58163978efd9c314"
            ]
        ]
    },
    {
        "id": "871e617d1fed829a",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "1e6e85594225af9b"
            ]
        ]
    },
    {
        "id": "e7bf9e4d442831a3",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "972ffc632cb89250"
            ]
        ]
    },
    {
        "id": "88941b4b4106906b",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "ce911d44d4a63a98"
            ]
        ]
    },
    {
        "id": "972ffc632cb89250",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "ExposureTime",
        "propVal": "7900",
        "access_mode": "Read and Write",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "caf576a4ca1271a3"
            ]
        ]
    },
    {
        "id": "ce911d44d4a63a98",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "UserSetSave",
        "propVal": "test",
        "access_mode": "Not available",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "58163978efd9c314",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "",
        "camProp": "",
        "propVal": "9700",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "595fd0e25a23de7a"
            ]
        ]
    },
    {
        "id": "1e6e85594225af9b",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "DeviceUserID",
        "propVal": "Camera01",
        "access_mode": "Read and Write",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "8d529e734524ca86"
            ]
        ]
    },
    {
        "id": "595fd0e25a23de7a",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "8d529e734524ca86",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "caf576a4ca1271a3",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "814468df4bcfa559",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "9af7e6601d2bcbda",
        "type": "release-camera",
        "z": "e583048378e103aa",
        "camlocation": "http://172.17.0.1:5555",
        "camId": "142120208749",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "37658252febe5c2b",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "9af7e6601d2bcbda"
            ]
        ]
    },
    {
        "id": "e7ce47efe6478ca9",
        "type": "http request",
        "z": "e583048378e103aa",
        "name": "SetVal: Exporsure Time",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://172.17.0.1:5555/api/vision/vision/setVal/142121710143",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "0e67f0fb5464bda1"
            ]
        ]
    },
    {
        "id": "027332e59d55140d",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "e7ce47efe6478ca9"
            ]
        ]
    },
    {
        "id": "0e67f0fb5464bda1",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "56ec6de42227e5e7",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142121710143",
        "camProp": "ExposureTime",
        "propVal": "29850",
        "access_mode": "Read and Write",
        "node_type": "Float",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "69c9b0ea45041360",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "56ec6de42227e5e7",
                "d024f14ad6abd967"
            ]
        ]
    },
    {
        "id": "86c9a3c39dbf01c6",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "425904c32524013a",
        "camId": "142120208749",
        "camProp": "ExposureMode",
        "propVal": "Off",
        "access_mode": "Read and Write",
        "node_type": "Enumerate",
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    },
    {
        "id": "4b3663b285f2170a",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "86c9a3c39dbf01c6"
            ]
        ]
    },
    {
        "id": "198df66e0c6873c7",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "d024f14ad6abd967"
            ]
        ]
    },
    {
        "id": "d024f14ad6abd967",
        "type": "set-camera-property",
        "z": "e583048378e103aa",
        "camlocation": "48b8c1b86a590714",
        "camId": "142120208749",
        "camProp": "TriggerEventTest",
        "propVal": "[test cmd]",
        "access_mode": "Write Only",
        "node_type": "Command",
        "x": 380,
        "y": 920,
        "wires": [
            [
                "814468df4bcfa559"
            ]
        ]
    }
]
