lib/flows/onprem-flows.json
[
    {
        "id": "e583048378e103aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28e65808dff70419",
        "type": "server-settings",
        "workstation": "",
        "username": "",
        "password": "",
        "host": "http://192.168.196.2:5000"
    },
    {
        "id": "8a495c7a43152ead",
        "type": "camera-server",
        "camlocation": "http://192.168.196.2:5555"
    },
    {
        "id": "5d16ae27fd2b1294",
        "type": "motion-detection",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "camlocation": "8a495c7a43152ead",
        "camId": "233630185040191",
        "threshold": "60",
        "mask": "ea087c1a-62fa-43a6-a52d-a51976b98842",
        "debounce": "",
        "x": 310,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "96f3bfd76a8b1be0",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "5d16ae27fd2b1294"
            ]
        ]
    },
    {
        "id": "33c6a17d5d9b5a0c",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "x": 320,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "88bcd63455d67c08",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "33c6a17d5d9b5a0c"
            ]
        ]
    }
]