lib/flows/onprem-flows.json
[
    {
        "id": "e583048378e103aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28e65808dff70419",
        "type": "server-settings",
        "workstation": "",
        "username": "",
        "password": "",
        "host": "http://192.168.196.2:5000"
    },
    {
        "id": "8a495c7a43152ead",
        "type": "camera-server",
        "camlocation": "http://192.168.196.2:5555"
    },
    {
        "id": "5d16ae27fd2b1294",
        "type": "motion-detection",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "camlocation": "8a495c7a43152ead",
        "camId": "233630185045974",
        "mask": "6ebc4bce-c33d-4d7d-b731-9baa8f55d31e",
        "threshold": ".86",
        "debounce": "253",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "f2bd2275cf25136b",
                "14c64192bdb8a17b"
            ],
            [
                "f2bd2275cf25136b",
                "14c64192bdb8a17b",
                "a57b65b0ec042091"
            ]
        ]
    },
    {
        "id": "96f3bfd76a8b1be0",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "5d16ae27fd2b1294"
            ]
        ]
    },
    {
        "id": "33c6a17d5d9b5a0c",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "{\"ksize\":\"25,25\",\"sigmaX\":\"0\",\"sigmaY\":\"0\",\"borderType\":\"BORDER_DEFAULT\"}",
        "efx_name": "GaussianBlur",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "14c64192bdb8a17b",
                "f2bd2275cf25136b"
            ]
        ]
    },
    {
        "id": "88bcd63455d67c08",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "a862fd73ed66a7c3"
            ]
        ]
    },
    {
        "id": "f2bd2275cf25136b",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "14c64192bdb8a17b",
        "type": "display-image",
        "z": "e583048378e103aa",
        "name": "",
        "width": "160",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a862fd73ed66a7c3",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "33c6a17d5d9b5a0c"
            ]
        ]
    },
    {
        "id": "a57b65b0ec042091",
        "type": "delay",
        "z": "e583048378e103aa",
        "name": "reboot",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "5d16ae27fd2b1294"
            ]
        ]
    },
    {
        "id": "9c5b9f8b2ef1cbd4",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "{\"threshold1\":\"5\",\"threshold2\":\"5\"}",
        "efx_name": "Canny",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "14c64192bdb8a17b"
            ]
        ]
    },
    {
        "id": "f506851c5e569c8c",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "ae5c04cca6eaab70"
            ]
        ]
    },
    {
        "id": "ae5c04cca6eaab70",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "9c5b9f8b2ef1cbd4"
            ]
        ]
    },
    {
        "id": "ae477e964feaad4f",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "{\"dsize\":\"25, 25\",\"fx\":\"0\",\"fy\":\"0\",\"interpolation\":\"INTER_LINEAR\"}",
        "efx_name": "resize",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "14c64192bdb8a17b"
            ]
        ]
    },
    {
        "id": "f565c094e466a624",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "5e5e02d8ac069a50"
            ]
        ]
    },
    {
        "id": "5e5e02d8ac069a50",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "ae477e964feaad4f"
            ]
        ]
    },
    {
        "id": "949f4fb9b3bad457",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "{\"dtype\":\"-1\"}",
        "efx_name": "addWeighted",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "14c64192bdb8a17b"
            ]
        ]
    },
    {
        "id": "4a173d236da83782",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "382c3155982b1070"
            ]
        ]
    },
    {
        "id": "382c3155982b1070",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "949f4fb9b3bad457"
            ]
        ]
    },
    {
        "id": "31e51f6afca61a5f",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "{\"anchor\":\"(-1, -1)\",\"iterations\":\"1\",\"borderType\":\"BORDER_CONSTANT\",\"borderValue\":\"0\"}",
        "efx_name": "dilate",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "14c64192bdb8a17b"
            ]
        ]
    },
    {
        "id": "14afd37c93fe768c",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "62f65a1e55b5733c"
            ]
        ]
    },
    {
        "id": "62f65a1e55b5733c",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "31e51f6afca61a5f"
            ]
        ]
    },
    {
        "id": "9425c88e938020ab",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "{\"thresh\":\"5\",\"maxval\":\"2\",\"type\":\"THRESH_BINARY\"}",
        "efx_name": "threshold",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "14c64192bdb8a17b"
            ]
        ]
    },
    {
        "id": "6f3b8542fbebc540",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "e75a5c7e15117405"
            ]
        ]
    },
    {
        "id": "e75a5c7e15117405",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 280,
        "y": 720,
        "wires": [
            [
                "9425c88e938020ab"
            ]
        ]
    }
]