lib/flows/onprem-flows.json
[
    {
        "id": "e583048378e103aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d16ae27fd2b1294",
        "type": "motion-detection",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "camlocation": "http://192.168.196.2:5555",
        "camId": "233630185045974",
        "threshold": "60",
        "mask": "ea087c1a-62fa-43a6-a52d-a51976b98842",
        "debounce": "-250",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "f2bd2275cf25136b",
                "14c64192bdb8a17b"
            ],
            [
                "f2bd2275cf25136b"
            ]
        ]
    },
    {
        "id": "96f3bfd76a8b1be0",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "5d16ae27fd2b1294"
            ]
        ]
    },
    {
        "id": "33c6a17d5d9b5a0c",
        "type": "image-manipulation",
        "z": "e583048378e103aa",
        "fvconfig": "28e65808dff70419",
        "host": "",
        "efx_value": "5",
        "efx_name": "GaussianBlur",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "14c64192bdb8a17b",
                "f2bd2275cf25136b"
            ]
        ]
    },
    {
        "id": "88bcd63455d67c08",
        "type": "inject",
        "z": "e583048378e103aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "a862fd73ed66a7c3"
            ]
        ]
    },
    {
        "id": "f2bd2275cf25136b",
        "type": "debug",
        "z": "e583048378e103aa",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "14c64192bdb8a17b",
        "type": "display-image",
        "z": "e583048378e103aa",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "a862fd73ed66a7c3",
        "type": "file in",
        "z": "e583048378e103aa",
        "name": "example file",
        "filename": "/Users/elitaylor/Developer/flexibleassembly/nodecreator/extra_packages/node-red-contrib-fv-detection-nodes/resources/images/refined_motion_logo.png",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "33c6a17d5d9b5a0c"
            ]
        ]
    },
    {
        "id": "28e65808dff70419",
        "type": "server-settings",
        "workstation": "",
        "username": "",
        "password": "",
        "host": "http://192.168.196.2:5000"
    }
]
